/* Sleek Dark Scrollbar for entire App */
* {
  scrollbar-width: thin;
  scrollbar-color: #3c4043 transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3c4043;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5f6368;
}